Forum2/src/conf/xml-resources/web-service-references/processPosts/wsdl/localhost_8080/Forum2/processPosts.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviceServer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviceServer/" name="processPosts">
<types>
<xsd:schema>
<xsd:import namespace="http://serviceServer/" schemaLocation="http://localhost:8080/Forum2/processPosts?xsd=1"/>
</xsd:schema>
</types>
<message name="getTotalCommentCount">
<part name="parameters" element="tns:getTotalCommentCount"/>
</message>
<message name="getTotalCommentCountResponse">
<part name="parameters" element="tns:getTotalCommentCountResponse"/>
</message>
<message name="findCommentIdentity">
<part name="parameters" element="tns:findCommentIdentity"/>
</message>
<message name="findCommentIdentityResponse">
<part name="parameters" element="tns:findCommentIdentityResponse"/>
</message>
<message name="getCommentAuthors">
<part name="parameters" element="tns:getCommentAuthors"/>
</message>
<message name="getCommentAuthorsResponse">
<part name="parameters" element="tns:getCommentAuthorsResponse"/>
</message>
<message name="getCommentDescription">
<part name="parameters" element="tns:getCommentDescription"/>
</message>
<message name="getCommentDescriptionResponse">
<part name="parameters" element="tns:getCommentDescriptionResponse"/>
</message>
<message name="getReplyDescriptions">
<part name="parameters" element="tns:getReplyDescriptions"/>
</message>
<message name="getReplyDescriptionsResponse">
<part name="parameters" element="tns:getReplyDescriptionsResponse"/>
</message>
<message name="getPostDesciption">
<part name="parameters" element="tns:getPostDesciption"/>
</message>
<message name="getPostDesciptionResponse">
<part name="parameters" element="tns:getPostDesciptionResponse"/>
</message>
<message name="deleteAccount">
<part name="parameters" element="tns:deleteAccount"/>
</message>
<message name="deleteAccountResponse">
<part name="parameters" element="tns:deleteAccountResponse"/>
</message>
<message name="getUserA">
<part name="parameters" element="tns:getUserA"/>
</message>
<message name="getUserAResponse">
<part name="parameters" element="tns:getUserAResponse"/>
</message>
<message name="changeEmail">
<part name="parameters" element="tns:changeEmail"/>
</message>
<message name="changeEmailResponse">
<part name="parameters" element="tns:changeEmailResponse"/>
</message>
<message name="getAuthors">
<part name="parameters" element="tns:getAuthors"/>
</message>
<message name="getAuthorsResponse">
<part name="parameters" element="tns:getAuthorsResponse"/>
</message>
<message name="makeConnection">
<part name="parameters" element="tns:makeConnection"/>
</message>
<message name="makeConnectionResponse">
<part name="parameters" element="tns:makeConnectionResponse"/>
</message>
<message name="getUserQ">
<part name="parameters" element="tns:getUserQ"/>
</message>
<message name="getUserQResponse">
<part name="parameters" element="tns:getUserQResponse"/>
</message>
<message name="resetPassword">
<part name="parameters" element="tns:resetPassword"/>
</message>
<message name="resetPasswordResponse">
<part name="parameters" element="tns:resetPasswordResponse"/>
</message>
<message name="getReplyAuthors">
<part name="parameters" element="tns:getReplyAuthors"/>
</message>
<message name="getReplyAuthorsResponse">
<part name="parameters" element="tns:getReplyAuthorsResponse"/>
</message>
<message name="getCommentCount">
<part name="parameters" element="tns:getCommentCount"/>
</message>
<message name="getCommentCountResponse">
<part name="parameters" element="tns:getCommentCountResponse"/>
</message>
<message name="getCommentTimes">
<part name="parameters" element="tns:getCommentTimes"/>
</message>
<message name="getCommentTimesResponse">
<part name="parameters" element="tns:getCommentTimesResponse"/>
</message>
<message name="addComment">
<part name="parameters" element="tns:addComment"/>
</message>
<message name="addCommentResponse">
<part name="parameters" element="tns:addCommentResponse"/>
</message>
<message name="countReplies">
<part name="parameters" element="tns:countReplies"/>
</message>
<message name="countRepliesResponse">
<part name="parameters" element="tns:countRepliesResponse"/>
</message>
<message name="getPostsData">
<part name="parameters" element="tns:getPostsData"/>
</message>
<message name="getPostsDataResponse">
<part name="parameters" element="tns:getPostsDataResponse"/>
</message>
<message name="getPostCount">
<part name="parameters" element="tns:getPostCount"/>
</message>
<message name="getPostCountResponse">
<part name="parameters" element="tns:getPostCountResponse"/>
</message>
<message name="addPost">
<part name="parameters" element="tns:addPost"/>
</message>
<message name="addPostResponse">
<part name="parameters" element="tns:addPostResponse"/>
</message>
<message name="findPostAuthor">
<part name="parameters" element="tns:findPostAuthor"/>
</message>
<message name="findPostAuthorResponse">
<part name="parameters" element="tns:findPostAuthorResponse"/>
</message>
<message name="getSubjects">
<part name="parameters" element="tns:getSubjects"/>
</message>
<message name="getSubjectsResponse">
<part name="parameters" element="tns:getSubjectsResponse"/>
</message>
<message name="getPostDateTime">
<part name="parameters" element="tns:getPostDateTime"/>
</message>
<message name="getPostDateTimeResponse">
<part name="parameters" element="tns:getPostDateTimeResponse"/>
</message>
<message name="getPostTitle">
<part name="parameters" element="tns:getPostTitle"/>
</message>
<message name="getPostTitleResponse">
<part name="parameters" element="tns:getPostTitleResponse"/>
</message>
<message name="getUserEmail">
<part name="parameters" element="tns:getUserEmail"/>
</message>
<message name="getUserEmailResponse">
<part name="parameters" element="tns:getUserEmailResponse"/>
</message>
<message name="getTopicID">
<part name="parameters" element="tns:getTopicID"/>
</message>
<message name="getTopicIDResponse">
<part name="parameters" element="tns:getTopicIDResponse"/>
</message>
<message name="countComments">
<part name="parameters" element="tns:countComments"/>
</message>
<message name="countCommentsResponse">
<part name="parameters" element="tns:countCommentsResponse"/>
</message>
<message name="getPostID">
<part name="parameters" element="tns:getPostID"/>
</message>
<message name="getPostIDResponse">
<part name="parameters" element="tns:getPostIDResponse"/>
</message>
<message name="updateSQA">
<part name="parameters" element="tns:updateSQA"/>
</message>
<message name="updateSQAResponse">
<part name="parameters" element="tns:updateSQAResponse"/>
</message>
<message name="getCommentsData">
<part name="parameters" element="tns:getCommentsData"/>
</message>
<message name="getCommentsDataResponse">
<part name="parameters" element="tns:getCommentsDataResponse"/>
</message>
<message name="getReplyCount">
<part name="parameters" element="tns:getReplyCount"/>
</message>
<message name="getReplyCountResponse">
<part name="parameters" element="tns:getReplyCountResponse"/>
</message>
<message name="getReplyTimes">
<part name="parameters" element="tns:getReplyTimes"/>
</message>
<message name="getReplyTimesResponse">
<part name="parameters" element="tns:getReplyTimesResponse"/>
</message>
<message name="getReplyData">
<part name="parameters" element="tns:getReplyData"/>
</message>
<message name="getReplyDataResponse">
<part name="parameters" element="tns:getReplyDataResponse"/>
</message>
<message name="getCommentIDs">
<part name="parameters" element="tns:getCommentIDs"/>
</message>
<message name="getCommentIDsResponse">
<part name="parameters" element="tns:getCommentIDsResponse"/>
</message>
<message name="addReply">
<part name="parameters" element="tns:addReply"/>
</message>
<message name="addReplyResponse">
<part name="parameters" element="tns:addReplyResponse"/>
</message>
<message name="doesUserExist">
<part name="parameters" element="tns:doesUserExist"/>
</message>
<message name="doesUserExistResponse">
<part name="parameters" element="tns:doesUserExistResponse"/>
</message>
<message name="countPosts">
<part name="parameters" element="tns:countPosts"/>
</message>
<message name="countPostsResponse">
<part name="parameters" element="tns:countPostsResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<portType name="processor">
<operation name="getTotalCommentCount">
<input wsam:Action="http://serviceServer/processor/getTotalCommentCountRequest" message="tns:getTotalCommentCount"/>
<output wsam:Action="http://serviceServer/processor/getTotalCommentCountResponse" message="tns:getTotalCommentCountResponse"/>
</operation>
<operation name="findCommentIdentity">
<input wsam:Action="http://serviceServer/processor/findCommentIdentityRequest" message="tns:findCommentIdentity"/>
<output wsam:Action="http://serviceServer/processor/findCommentIdentityResponse" message="tns:findCommentIdentityResponse"/>
</operation>
<operation name="getCommentAuthors">
<input wsam:Action="http://serviceServer/processor/getCommentAuthorsRequest" message="tns:getCommentAuthors"/>
<output wsam:Action="http://serviceServer/processor/getCommentAuthorsResponse" message="tns:getCommentAuthorsResponse"/>
</operation>
<operation name="getCommentDescription">
<input wsam:Action="http://serviceServer/processor/getCommentDescriptionRequest" message="tns:getCommentDescription"/>
<output wsam:Action="http://serviceServer/processor/getCommentDescriptionResponse" message="tns:getCommentDescriptionResponse"/>
</operation>
<operation name="getReplyDescriptions">
<input wsam:Action="http://serviceServer/processor/getReplyDescriptionsRequest" message="tns:getReplyDescriptions"/>
<output wsam:Action="http://serviceServer/processor/getReplyDescriptionsResponse" message="tns:getReplyDescriptionsResponse"/>
</operation>
<operation name="getPostDesciption">
<input wsam:Action="http://serviceServer/processor/getPostDesciptionRequest" message="tns:getPostDesciption"/>
<output wsam:Action="http://serviceServer/processor/getPostDesciptionResponse" message="tns:getPostDesciptionResponse"/>
</operation>
<operation name="deleteAccount">
<input wsam:Action="http://serviceServer/processor/deleteAccountRequest" message="tns:deleteAccount"/>
<output wsam:Action="http://serviceServer/processor/deleteAccountResponse" message="tns:deleteAccountResponse"/>
</operation>
<operation name="getUserA">
<input wsam:Action="http://serviceServer/processor/getUserARequest" message="tns:getUserA"/>
<output wsam:Action="http://serviceServer/processor/getUserAResponse" message="tns:getUserAResponse"/>
</operation>
<operation name="changeEmail">
<input wsam:Action="http://serviceServer/processor/changeEmailRequest" message="tns:changeEmail"/>
<output wsam:Action="http://serviceServer/processor/changeEmailResponse" message="tns:changeEmailResponse"/>
</operation>
<operation name="getAuthors">
<input wsam:Action="http://serviceServer/processor/getAuthorsRequest" message="tns:getAuthors"/>
<output wsam:Action="http://serviceServer/processor/getAuthorsResponse" message="tns:getAuthorsResponse"/>
</operation>
<operation name="makeConnection">
<input wsam:Action="http://serviceServer/processor/makeConnectionRequest" message="tns:makeConnection"/>
<output wsam:Action="http://serviceServer/processor/makeConnectionResponse" message="tns:makeConnectionResponse"/>
</operation>
<operation name="getUserQ">
<input wsam:Action="http://serviceServer/processor/getUserQRequest" message="tns:getUserQ"/>
<output wsam:Action="http://serviceServer/processor/getUserQResponse" message="tns:getUserQResponse"/>
</operation>
<operation name="resetPassword">
<input wsam:Action="http://serviceServer/processor/resetPasswordRequest" message="tns:resetPassword"/>
<output wsam:Action="http://serviceServer/processor/resetPasswordResponse" message="tns:resetPasswordResponse"/>
</operation>
<operation name="getReplyAuthors">
<input wsam:Action="http://serviceServer/processor/getReplyAuthorsRequest" message="tns:getReplyAuthors"/>
<output wsam:Action="http://serviceServer/processor/getReplyAuthorsResponse" message="tns:getReplyAuthorsResponse"/>
</operation>
<operation name="getCommentCount">
<input wsam:Action="http://serviceServer/processor/getCommentCountRequest" message="tns:getCommentCount"/>
<output wsam:Action="http://serviceServer/processor/getCommentCountResponse" message="tns:getCommentCountResponse"/>
</operation>
<operation name="getCommentTimes">
<input wsam:Action="http://serviceServer/processor/getCommentTimesRequest" message="tns:getCommentTimes"/>
<output wsam:Action="http://serviceServer/processor/getCommentTimesResponse" message="tns:getCommentTimesResponse"/>
</operation>
<operation name="addComment">
<input wsam:Action="http://serviceServer/processor/addCommentRequest" message="tns:addComment"/>
<output wsam:Action="http://serviceServer/processor/addCommentResponse" message="tns:addCommentResponse"/>
</operation>
<operation name="countReplies">
<input wsam:Action="http://serviceServer/processor/countRepliesRequest" message="tns:countReplies"/>
<output wsam:Action="http://serviceServer/processor/countRepliesResponse" message="tns:countRepliesResponse"/>
</operation>
<operation name="getPostsData">
<input wsam:Action="http://serviceServer/processor/getPostsDataRequest" message="tns:getPostsData"/>
<output wsam:Action="http://serviceServer/processor/getPostsDataResponse" message="tns:getPostsDataResponse"/>
</operation>
<operation name="getPostCount">
<input wsam:Action="http://serviceServer/processor/getPostCountRequest" message="tns:getPostCount"/>
<output wsam:Action="http://serviceServer/processor/getPostCountResponse" message="tns:getPostCountResponse"/>
</operation>
<operation name="addPost">
<input wsam:Action="http://serviceServer/processor/addPostRequest" message="tns:addPost"/>
<output wsam:Action="http://serviceServer/processor/addPostResponse" message="tns:addPostResponse"/>
</operation>
<operation name="findPostAuthor">
<input wsam:Action="http://serviceServer/processor/findPostAuthorRequest" message="tns:findPostAuthor"/>
<output wsam:Action="http://serviceServer/processor/findPostAuthorResponse" message="tns:findPostAuthorResponse"/>
</operation>
<operation name="getSubjects">
<input wsam:Action="http://serviceServer/processor/getSubjectsRequest" message="tns:getSubjects"/>
<output wsam:Action="http://serviceServer/processor/getSubjectsResponse" message="tns:getSubjectsResponse"/>
</operation>
<operation name="getPostDateTime">
<input wsam:Action="http://serviceServer/processor/getPostDateTimeRequest" message="tns:getPostDateTime"/>
<output wsam:Action="http://serviceServer/processor/getPostDateTimeResponse" message="tns:getPostDateTimeResponse"/>
</operation>
<operation name="getPostTitle">
<input wsam:Action="http://serviceServer/processor/getPostTitleRequest" message="tns:getPostTitle"/>
<output wsam:Action="http://serviceServer/processor/getPostTitleResponse" message="tns:getPostTitleResponse"/>
</operation>
<operation name="getUserEmail">
<input wsam:Action="http://serviceServer/processor/getUserEmailRequest" message="tns:getUserEmail"/>
<output wsam:Action="http://serviceServer/processor/getUserEmailResponse" message="tns:getUserEmailResponse"/>
</operation>
<operation name="getTopicID">
<input wsam:Action="http://serviceServer/processor/getTopicIDRequest" message="tns:getTopicID"/>
<output wsam:Action="http://serviceServer/processor/getTopicIDResponse" message="tns:getTopicIDResponse"/>
</operation>
<operation name="countComments">
<input wsam:Action="http://serviceServer/processor/countCommentsRequest" message="tns:countComments"/>
<output wsam:Action="http://serviceServer/processor/countCommentsResponse" message="tns:countCommentsResponse"/>
</operation>
<operation name="getPostID">
<input wsam:Action="http://serviceServer/processor/getPostIDRequest" message="tns:getPostID"/>
<output wsam:Action="http://serviceServer/processor/getPostIDResponse" message="tns:getPostIDResponse"/>
</operation>
<operation name="updateSQA">
<input wsam:Action="http://serviceServer/processor/updateSQARequest" message="tns:updateSQA"/>
<output wsam:Action="http://serviceServer/processor/updateSQAResponse" message="tns:updateSQAResponse"/>
</operation>
<operation name="getCommentsData">
<input wsam:Action="http://serviceServer/processor/getCommentsDataRequest" message="tns:getCommentsData"/>
<output wsam:Action="http://serviceServer/processor/getCommentsDataResponse" message="tns:getCommentsDataResponse"/>
</operation>
<operation name="getReplyCount">
<input wsam:Action="http://serviceServer/processor/getReplyCountRequest" message="tns:getReplyCount"/>
<output wsam:Action="http://serviceServer/processor/getReplyCountResponse" message="tns:getReplyCountResponse"/>
</operation>
<operation name="getReplyTimes">
<input wsam:Action="http://serviceServer/processor/getReplyTimesRequest" message="tns:getReplyTimes"/>
<output wsam:Action="http://serviceServer/processor/getReplyTimesResponse" message="tns:getReplyTimesResponse"/>
</operation>
<operation name="getReplyData">
<input wsam:Action="http://serviceServer/processor/getReplyDataRequest" message="tns:getReplyData"/>
<output wsam:Action="http://serviceServer/processor/getReplyDataResponse" message="tns:getReplyDataResponse"/>
</operation>
<operation name="getCommentIDs">
<input wsam:Action="http://serviceServer/processor/getCommentIDsRequest" message="tns:getCommentIDs"/>
<output wsam:Action="http://serviceServer/processor/getCommentIDsResponse" message="tns:getCommentIDsResponse"/>
</operation>
<operation name="addReply">
<input wsam:Action="http://serviceServer/processor/addReplyRequest" message="tns:addReply"/>
<output wsam:Action="http://serviceServer/processor/addReplyResponse" message="tns:addReplyResponse"/>
</operation>
<operation name="doesUserExist">
<input wsam:Action="http://serviceServer/processor/doesUserExistRequest" message="tns:doesUserExist"/>
<output wsam:Action="http://serviceServer/processor/doesUserExistResponse" message="tns:doesUserExistResponse"/>
</operation>
<operation name="countPosts">
<input wsam:Action="http://serviceServer/processor/countPostsRequest" message="tns:countPosts"/>
<output wsam:Action="http://serviceServer/processor/countPostsResponse" message="tns:countPostsResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://serviceServer/processor/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://serviceServer/processor/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://serviceServer/processor/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://serviceServer/processor/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
</portType>
<binding name="processorPortBinding" type="tns:processor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTotalCommentCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCommentIdentity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentAuthors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReplyDescriptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPostDesciption">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAuthors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReplyAuthors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentTimes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countReplies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPostsData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPostCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPostAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPostDateTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPostTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopicID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countComments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPostID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSQA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentsData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReplyCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReplyTimes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReplyData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentIDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addReply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doesUserExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPosts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="processPosts">
<port name="processorPort" binding="tns:processorPortBinding">
<soap:address location="http://localhost:8080/Forum2/processPosts"/>
</port>
</service>
</definitions>